<div fxfill="row" fxlayout="column" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%; flex-direction: column; box-sizing: border-box; display: flex;">

    <form [formGroup]="productForm" (ngSubmit)=" productForm.valid && submitForm()" autocomplete="off">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Ürün Güncelleme
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div>
                        <app-text-input [formControl]='productForm.controls["name"]' [label]='"ürün adı"' [error]="'Lütfen ürün adı giriniz'" [minlength]='"3"' [maxlength]='"40"'></app-text-input>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <app-text-input [formControl]='productForm.controls["code"]' [label]='"ürün kodu"' [error]="'Lütfen ürün kodunu giriniz'" [maxlength]='"40"'></app-text-input>

                    </div>
                </div>

                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>Güncellenme Tarihi</mat-label>
                        <input formControlName="operationdate" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="row">

                    <div class="demo-button-container space-left">
                        <button mat-fab color="primary" (click)="addMaterial()" aria-label="Example icon button with a delete icon">
                        <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card-content>

            <div class="container" *ngIf="this.productDetail.length>0">
                <table class="responsive-table">
                    <caption>Ürüne ait malzemeler</caption>
                    <thead>
                        <tr>
                            <th scope="col">Grup Adı</th>
                            <th scope="col">Malzeme Adı</th>
                            <th scope="col">Birim</th>
                            <th scope="col">Birim Fiyat</th>
                            <th scope="col">Mal Giriş Tarihi</th>
                            <th scope="col">Miktarı</th>
                            <th scope="col">Açıklama</th>
                            <th scope="col">Toplam</th>
                            <th scope="col"></th>




                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="8"></td>
                            <td style="text-align: right;">Toplam Tutar: {{this.totalCost}} </td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let mat of productDetail">
                            <th scope="row">{{mat.categoryname}}</th>
                            <th scope="row">{{mat.materialname}}</th>
                            <td data-title="Released">{{mat.unit}}</td>
                            <td data-title="Studio">{{mat.unitprice}}</td>
                            <td data-title="Studio">{{mat.materialdate}}</td>
                            <td data-title="Released">{{mat.quantity}}</td>
                            <td data-title="Domestic Gross" data-type="currency">{{mat.remarks}}</td>
                            <td data-title="International Gross" data-type="currency">{{mat.total}}</td>
                            <td data-title="Operation">
                                <button mat-icon-button aria-label="Example icon-button with a heart icon" matTooltip="Sil" (click)="deleteRecord(mat)">
                                <mat-icon>delete_outline</mat-icon>
                                
                            </button>

                                <button mat-icon-button color="primary" matTooltip="Güncelle" matTooltipPosition="right" (click)="editMaterial(mat)" aria-label="Example icon button with a home icon">
                                    <mat-icon>edit</mat-icon>
                                </button>



                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>

                </div>
            </div>
            <mat-card-actions>
                <button color="primary" mat-raised-button (click)="updateproduct()">
                    Ürünü Güncelle 
                </button>
            </mat-card-actions>

        </mat-card>
    </form>

</div>

<ng-template #dialogTemplate let-item>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Company (disabled)</mat-label>
            <input matInput disabled [(ngModel)]="item.categoryname" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Birim</mat-label>
                        <input matInput [(ngModel)]="item.unit" [ngModelOptions]="{standalone: true}" (change)="unitUpdated($event)">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Miktar</mat-label>
                        <input matInput [(ngModel)]="item.quantity" [ngModelOptions]="{standalone: true}" (change)="quantityUpdated($event)">
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <p>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Açıklama</mat-label>
                <textarea matInput [(ngModel)]="item.remarks" [ngModelOptions]="{standalone: true}" (change)="remarksUpdated($event)"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Address 2</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </p>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="Ex. San Francisco">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>State</mat-label>
                        <input matInput placeholder="Ex. California">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Postal Code</mat-label>
                        <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
                        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>

                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <button mat-button color="primary" mat-dialog-close>Kapat</button>
                </td>
            </tr>
        </table>
    </form>
</ng-template>